<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAD0ivs9-iSH13NyT4c7P-gaXBRjo24rMs</string>
	<key>GCM_SENDER_ID</key>
	<string>20795749884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentDormFrontend</string>
	<key>PROJECT_ID</key>
	<string>studentdormplatform</string>
	<key>STORAGE_BUCKET</key>
	<string>studentdormplatform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20795749884:ios:a8c2eb3829463acd4bae79</string>
</dict>
</plist>